/** @type {import('tailwindcss').Config} */
export default {
  theme: {
    extend: {
      colors: {
        primary: {
          DEFAULT: '#E94E24', // Laranja principal
          light: '#FF7043',   // Laranja claro (opcional)
          dark: '#C63D1C',    // Laranja escuro (opcional)
        },
        secondary: {
          DEFAULT: '#6366f1',
          light: '#a5b4fc',
          dark: '#4338ca',
        },
        accent: {
          DEFAULT: '#facc15',
          light: '#fde047',
          dark: '#ca8a04',
        },
        danger: '#ef4444',
        success: '#22c55e',
        warning: '#f59e0b',
      },
    },
  },
  plugins: [],
};
